#theme-provider {
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: transparent;

    margin-right: 30px;

    position: relative;
}

#theme-provider::before {
    position: absolute;
    z-index: -10;
    
    top: 3px;
    left: 0;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;

    content: "";
    width: 110%;
    height: 34px;
    background-color: var(--color-600);
}

#theme-provider img {
    height: 30px;
    width: auto;

    animation: fadeIn 1s ease-in forwards;

    transition: transform 0.5s ease;
}

.sun {
    transform: translateX(17px);
}

.moon {
    transform: translateX(-10px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
