.device-container {
    position: relative;

    width: 200px;
    height: 200px;
    border-radius: 10px;

    background-color: var(--color-900);

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    transition: box-shadow 0.5s ease;
    cursor: pointer;
}

.device-container:hover {
    box-shadow: var(--color-100) 1.95px 1.95px 2.6px;
}

.device-tittle {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
}

.device-messure {
    margin: 0;
    font-size: 24px;
}

.state-icon {
    position: absolute;
    top: 5px;
    left: 170px;
}